$primary-color: rgb(71, 76, 72);
$secondary-color:rgb(90, 90, 90);
$primary-size: 2.9rem;
$secondary-size: 1.4rem;
$bg-color:rgb(225,230,224);
$title-size: 3.18rem;
$text-size: 2.2rem;
$text-color: rgb(170,170,170);
$title-weight: 400;
$bg-color2:rgb(240,240,240);